.red-pill-outline {
    border: 2px solid #ff5252;
    border-radius: 50px;
    color: #ff5252;
    background-color: transparent;
    padding: 10px 20px;
    font-size: 2rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
  
.red-pill-outline:hover {
    background-color: #ff5252;
    color: #fff;
}

#jumbotron {
    width: 100%;
    height: 100vh;
    padding:70px 160px 70px 160px;
    margin:0px auto;
    color:floralwhite;
}