.App {
  text-align: center;
}

.parcel-id-text {
  display: flex;
  justify-content:flex-left;
  padding: 2%;
}

.parcel-id-box {
  display: flex;
  padding: 2%;
}

.tip-field {
  display: flex;
  justify-content:flex-left;
  padding: 2%;
}

.submit-button {
  display: flex;
  justify-content:center;
  align-items:center;
}

.feedback-box {
  padding: 2%;
}

.ninja-pic {
  position: absolute;
  left: 30%;
  top: 10%;
  width: 50%;
  height: auto; 
  
} 

.shuriken-on {
  cursor: pointer;
  border: none;
  background-color: transparent;
  height: 20%;
  width: auto;
}

.shuriken-off {
  cursor: pointer;
  border: none;
  background-color: transparent;
  height: 20%;
  width: auto;
  opacity: 0.1;

}

.rating-display {
  display: flex;
  position: left;
  padding: 2%;
}

#jumbotron {
  width: 100%;
  height: 100vh;
  padding:70px 160px 70px 160px;
  margin:0px auto;
  color:floralwhite;
}

.red-pill-outline {
  border: 2px solid #ff5252;
  border-radius: 50px;
  color: #ff5252;
  background-color: transparent;
  padding: 10px 20px;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  position: absolute;
  left: 80%;
}

.red-pill-outline:hover {
  background-color: #ff5252;
  color: #fff;
}

p {
  font-size: 2rem;
}

.form-control {
  width: 200%; 
  box-sizing: border-box;
}