.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.parcel-id-text {
  display: flex;
  justify-content:flex-left;
  padding: 2%;
}

.parcel-id-box {
  display: flex;
  padding: 2%;
}

.tip-field {
  display: flex;
  justify-content:flex-left;
  padding: 2%;
}

.submit-button {
  display: flex;
  justify-content:center;
  align-items:center;
}

.feedback-box {
  padding: 2%;
}

.ninja-pic {
  display: flex;
  justify-content: right;
  padding-right: 10%
  
}

.ninja-pic-size {
  width: 10%;
  height: auto;
}

.shuriken-on {
  cursor: pointer;
  border: none;
  background-color: transparent;
  height: 50px;
  width: 100px;
}

.shuriken-off {
  cursor: pointer;
  border: none;
  background-color: transparent;
  height: 50px;
  width: 100px;
  opacity: 0.1;

}

/* .shuriken-blank-img {
  pointer-events: none;
  border: none;
  background-color: transparent;
  opacity: 1;
  position:absolute;
  top:00px; 
} */

/* .shuriken-blank-button {
  pointer-events: none;
  border: none;
  background-color: transparent;
  opacity: 1;
  position: absolute;
  top: 500px;
} */

/* .shuriken-filled-img {
  position: absolute;
  top: 00px;
  opacity: 1;
} */


.rating-display {
  display: flex;
  position: left;
  padding: 2%;
}